*.pkg.tar.zst
*.tar.gz
*.tar.xz
new.json
src
pkg
__pycache__/

# makepkg downloaded sources without archive extensions
bunny-cli-bin/README-*.md
bunny-cli-bin/package-*.json
bunny-cli-bin/bunny-*-linux-*

# makepkg VCS source caches
arcana-git/arcana/
hipfort-gfx1151/hipfort/
hiptensor-gfx1151/rocm-libraries/
migraphx-gfx1151/migraphx/
migraphx-gfx1151/migraphx-rocmlir/
migraphx-gfx1151/migraphx-msgpack-c/
mivisionx-gfx1151/mivisionx/
