pkgbase = pi-coding-agent-bin
	pkgdesc = AI coding assistant with read, bash, edit, write tools
	pkgver = 0.60.0
	pkgrel = 1
	url = https://pi.dev/
	arch = x86_64
	license = MIT
	depends = glibc
	provides = pi
	provides = pi-coding-agent
	conflicts = pi
	conflicts = pi-coding-agent
	source = https://github.com/badlogic/pi-mono/releases/download/v0.60.0/pi-linux-x64.tar.gz
	source = LICENSE::https://raw.githubusercontent.com/badlogic/pi-mono/v0.60.0/LICENSE
	sha256sums = 10427f29efa513f8cdf76cbf5f510a5cb0af14a8f56b5eb6675166c6f8741496
	sha256sums = 0457f5bcec3b3b211605dfb5d1a49042fd638f3686a410fe099c24a25af13c48

pkgname = pi-coding-agent-bin
